table {
	width: 100%;
	height:100%;
}

td {
	text-align: center;
}

input {
	width: 70%;
	height: 55px;
}

.label {
	margin-left: 5px;
	width:100%;
	text-align:center;
	font-size: x-large;
	font-weight:bold;
}


/*
.pedals { width:100%;}
.pedals-row { 
height: 120; 
}
.pedal { 
	text-align:center; 
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	width : 5%;
}
.pedal-black { 
	background-color: black; 
	color: white; 
	border-bottom-style: solid; 
}
.pedal-blank { 
	border-bottom-style: none; 
}
.pedal-button { 
	width: 100%; 
	height: 120px; 
}
*/